@import 'MFXColors.css';

.table-view.table-view-apps .column-header,
.table-view.table-view-apps .column-header-background,
.table-view.table-view-apps .column-header-background .filler {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.table-view.table-view-apps {
	-fx-border-width: 0;
    -fx-background-color: -my-light-gray;
    -fx-background-insets: 0;
  	-fx-padding: 0;
}
.table-view.table-view-apps .table-row-cell {
	-fx-table-cell-border-color: white;
    -fx-background-color: white;
    -fx-background-radius: 0px;
    -fx-padding: 10px;
	-fx-cell-size: 60px;
	-fx-background-insets: 2 0 2 0;
}
.table-view.table-view-apps .table-row-cell:hover {
	-fx-table-cell-border-color: #e0e2e3;
    -fx-background-color: #e0e2e3;
    -fx-cursor: hand;
}
.table-view.table-view-apps .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
 }
.table-view.table-view-apps .table-row-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-cursor: pointer;
 }
.table-view.table-view-apps .scroll-bar * {
    -fx-min-width: 6px;
    -fx-pref-width: 6px;
    -fx-max-width: 6px;

    -fx-min-height: 6px;
    -fx-pref-height: 6px;
    -fx-max-height: 6px;

    -fx-background-color: -my-light-green;
 }
.table-view.table-view-apps *.scroll-bar *.increment-button,
.table-view.table-view-apps *.scroll-bar *.decrement-button {
    -fx-background-color: -my-light-gray;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.table-view.table-view-apps *.scroll-bar *.increment-arrow,
.table-view.table-view-apps *.scroll-bar *.decrement-arrow {
    -fx-background-color: -my-light-gray;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.table-view.table-view-apps *.scroll-bar *.track {
    -fx-background-color: -my-light-gray;
}
