@import 'MFXColors.css';

.tab-pane *.tab-header-area *.tab-header-background {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0 0 0 0;
	-fx-background-insets: 0;
}
.tab-pane:focused *.tab-header-area *.headers-region *.tab:selected .focus-indicator {
    -fx-border-width: 0;
}
.tab-pane {
  -fx-tab-max-height:30px;
  -fx-tab-min-height:30px;
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
}
.tab {
  	-fx-background-color: transparent;
  	-fx-background-radius: 0;
  	-fx-border-color: -my-light-gray;
    -fx-padding: 0;
    -fx-border-width: 2px;
    -fx-padding: 0 0 5 0;
}
.tab:selected {
    -fx-border-color: -my-light-green;
    -fx-border-width: 0 0 2 0;
}
.tab .tab-label {
	-fx-font-family: Arial, sans-serif;
    -fx-font-size:12px;
    -fx-font-weight: bold;
    -fx-text-fill: -my-dark-gray;
}
.tab:hover .tab-label,
.tab:selected .tab-label {
	-fx-text-fill: -my-light-green;
}